{{- $signingkey := "" -}}

{{- $gpgOutput := output (joinPath .chezmoi.sourceDir ".setup-gpg-key.sh") -}}
{{- if not $gpgOutput -}}
{{-   fail "Failed to setup GPG key" -}}
{{- end -}}

{{- $keys := list -}}
{{- range (splitList "\n" $gpgOutput) -}}
{{-   if regexMatch "^sec" . -}}
{{-     $keyMatch := regexFind "[0-9A-F]{8,}" . -}}
{{-     if $keyMatch -}}
{{-       $keys = append $keys $keyMatch -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- if eq (len $keys) 0 -}}
{{-   fail "GPG key setup failed - no keys found after creation" -}}
{{- else if eq (len $keys) 1 -}}
{{-   $signingkey = index $keys 0 -}}
{{- else -}}
{{-   if stdinIsATTY -}}
{{-     $signingkey = promptChoiceOnce . "signingkey" "Select GPG signing key" $keys -}}
{{-   else -}}
{{-     $signingkey = index $keys 0 -}}
{{-   end -}}
{{- end -}}

# Suppress warning since we use --init which handles template changes
# (chezmoi bug: --init doesn't update the hash in persistent state)
[warnings]
    configFileTemplateHasChanged = false

[data]
    signingkey = {{ $signingkey | quote }}
