# Core tools
brew "fish"
brew "git"
brew "gh"
brew "tig"
brew "neovim"
brew "bat"
brew "lsd"
brew "zoxide"
brew "atuin"
brew "direnv"
brew "prek"

# Node
brew "node"

# Rust
brew "rustup"

# Java
brew "openjdk"

# GNU tools
brew "coreutils"
brew "findutils"
brew "gnu-sed"
brew "gawk"
brew "gnu-indent"
brew "make"
brew "zip"

# Build dependencies
brew "ncurses"
brew "sqlite"
brew "aria2"
brew "llvm"
brew "hyperfine"
brew "jq"
brew "ncdu"
brew "ripgrep"
brew "shellcheck"
brew "shfmt"
brew "tokei"
brew "yamlfmt"
brew "yamllint"

# Applications
cask "alt-tab"
cask "betterdisplay"
cask "docker"
cask "elgato-stream-deck"
cask "ghostty"
cask "iina"
cask "launchcontrol"
cask "visual-studio-code"
