# python: 3.14.2
# uv tools (format: package [--with plugin1 --with plugin2 ...])
blacken-docs
build
codespell
csvkit
datamodel-code-generator
detect-test-pollution
diff-cover
hatch
mdformat --with mdformat-config --with mdformat-ruff --with mdformat-toc --with mdformat-front-matters
mitmproxy
nox
pip
pip-tools
pipx
pypi-changes
pyproject-fmt
pyright
ruff
sphobjinv
tox --with tox-uv
tox-ini-fmt
tox-toml-fmt
ty
virtualenv
xml-fmt
