# python: 3.14.2
# uv tools (format: package [--with plugin1 --with plugin2 ...])

# blacken-docs: format code in docs
blacken-docs
# build: Python build frontend
build
# codespell: fix common misspellings
codespell
# csvkit: CSV utilities
csvkit
# datamodel-code-generator: generate models from schemas
datamodel-code-generator
# detect-test-pollution: find test pollution
detect-test-pollution
# diff-cover: coverage diff reporter
diff-cover
# hatch: Python project manager
hatch
# mdformat: markdown formatter
mdformat --with mdformat-config --with mdformat-ruff --with mdformat-toc --with mdformat-front-matters
# mitmproxy: HTTP proxy for debugging
mitmproxy
# nox: automation tool
nox
# pip: package installer
pip
# pip-tools: pip workflow tools
pip-tools
# pipx: install Python apps
pipx
# pypi-changes: show PyPI changelog
pypi-changes
# pyproject-fmt: format pyproject.toml
pyproject-fmt
# pyright: Python type checker
pyright
# ruff: fast Python linter
ruff
# sphobjinv: Sphinx objects.inv tool
sphobjinv
# tox: test automation
tox --with tox-uv
# tox-ini-fmt: format tox.ini
tox-ini-fmt
# tox-toml-fmt: format tox.toml
tox-toml-fmt
# ty: Python type checker
ty
# virtualenv: virtual environment creator
virtualenv
# xml-fmt: XML formatter
xml-fmt
