local wezterm = require 'wezterm';

local module = {
    {{ if (eq .chezmoi.os "windows") }}
    font = wezterm.font("JetBrainsMono NF"),
    {{ else }}
    font = wezterm.font("JetBrainsMono Nerd Font Mono"),
    {{ end }}
    color_scheme = "Monokai Remastered",
    scrollback_lines = 35000,
    enable_scroll_bar = false,
    term = "xterm-256color",
    cursor_blink_rate = 0,
    default_cursor_style = "SteadyBar",
    use_ime = false,
    dpi = 111.0,
    {{ if (eq .chezmoi.os "darwin") }}
    default_prog = {"/usr/local/bin/pwsh", "-NoLogo"},
    font_size = 13,
    {{ else if (eq .chezmoi.os "linux" ) }}
    default_prog = {"/usr/bin/pwsh", "-NoLogo"},
    window_decorations = "RESIZE",
    font_size = 11,
    {{ else }}
    default_prog = {"C:\\Users\\gabor\\scoop\\shims\\pwsh.EXE", "-NoLogo"},
    window_decorations = "RESIZE",
    font_size = 10,
    {{ end }}
    disable_default_key_bindings = true,
    keys = {
        {
            mods = "CTRL",
            key = "t",
            action = wezterm.action {SpawnTab = "CurrentPaneDomain"}
        }, {
            mods = "CTRL",
            key = "w",
            action = wezterm.action {CloseCurrentTab = {confirm = false}}
        }, {mods = "SUPER", key = "n", action = "SpawnWindow"}, {
            key = "PageUp",
            mods = "CTRL",
            action = wezterm.action {ActivateTabRelative = -1}
        }, {
            key = "PageDown",
            mods = "CTRL",
            action = wezterm.action {ActivateTabRelative = 1}
        },
        {
            key = "v",
            mods = {{ if (eq .chezmoi.os "darwin") }} "SUPER" {{ else }} "ALT" {{end}},
            action = wezterm.action {PasteFrom = "Clipboard"}
        }, {
            key = "c",
            mods = {{ if (eq .chezmoi.os "darwin") }} "SUPER" {{ else }} "ALT" {{end}},
            action = wezterm.action {CopyTo = "ClipboardAndPrimarySelection"}
        },
        {key="PageUp", mods="SHIFT", action=wezterm.action{ScrollByPage=-1}},
        {key="PageDown", mods="SHIFT", action=wezterm.action{ScrollByPage=1}},
        {key="UpArrow", mods="SHIFT", action=wezterm.action{ScrollByLine=-1}},
        {key="DownArrow", mods="SHIFT", action=wezterm.action{ScrollByLine=1}},
    }
};

wezterm.on("update-right-status", function(window, pane)
    local args = {
        {Attribute = {Italic = true}},
        {Text = wezterm.strftime("%Y-%m-%d %H:%M:%S")}
    };
    window:set_right_status(wezterm.format(args));
end);

return module
